/* Generic classes */
.inline { display: inline; }
.middle { vertical-align: middle; }

.no-selected {
  border: 5px solid transparent;
  transition: 0.5s all;
}

.selected {
  border: 5px solid #009688 !important;
  transition: 0.5s all;
}

/* Contact page */
.contact {
  background-image: url("../images/food3.jpg");
  width: 100%;
  top: 0;
  left: 0;
  height:100%;
  opacity: 0.6;
  position: fixed;
  background-repeat: repeat-y;
  background-size: 100% auto;
  padding: 0;
  margin: 0;
  z-index:0;
}

.info {
  background-color: rgba(255,255,255,0.9);
  border-radius: 2em;
}

.mb-5 {
  margin-bottom:5px;
}

.mt-5 {
  margin-top:5px;
}

.ml-5 {
  margin-left:5px;
}

.m-0 {
	margin:0px;
}
.mr-5 {
  margin-right:5px;
}

.mt-0 {
	margin-top:0px;
}
.mr-0 {
	margin-right:0px;
}
.mb-0 {
	margin-bottom:0px;
}

.ml-0 {
	margin-left:0px;
}

.pl-5 {
  padding-left:5px;
}

.pr-5 {
  padding-right:5px;
}

.pl-8 {
  padding-left:8px;
}

.pr-8 {
  padding-right:8px;
}



.buttons-size {
	width:150px;
	height:50px;
}

.buttons-size-2 {
	width:150px;
	height:35px;
}
.contained-box {
	background-color:#222;
	width: 400px;
	height:200px;
	float:right;
	margin-right:18px;
	margin-top: 18px;
	opacity: 0.9;
	color: white;
	padding:0px 10px 10px 10px;
}

.container-box {
    background-image: url("../images/food3.jpg");
    width: 100%;
    background-size: cover;
    height: 450px;
    box-sizing: border-box;
}

.cartImages {
	width:200px;
	height:150px;
	float:left;
	margin-right: 15px;
}

.list-group-item {
	float:left;
	width:100%;
}

.navbar-brand{
	font-size: 200%;
}

.titleSeller{
	font-size: 400%;
}

.sellerCarousel{
	  display: block;
      overflow: visible;
      width: 100%;
      height: auto;
      margin-right: auto;
      margin-bottom: 12px;
      margin-left: auto;
      float: none;
}


/* Set gray background color and 100% height */
.user {
  background-color: #f1f1f1;
  padding: 10px;

  border-radius: 1em;
}

/*Login/Register Page */
.container.Login{
  margin-top: 100px;
}

.btn.btn-default.submit{
  margin-top: 20px;
}

.container.Register{
  margin-top: 100px;
}

.input-group-addon.register{
  width: 145px;
}

.form-control.register{
  width: 300px;
}

.input-group.register{
  margin-left: 45px;
}

/* Profile */
.boxed {
  background-color: #fff;

  padding: 15px 10px;
}

.edit-image {
  position: relative;
}

.edit-image i {
  position: absolute;
  margin: 90px 0px 0px 95px;

  font-size: 60px;
  font-weight: bold;

  opacity: 0;
  transition: all 0.5s;
}

.edit-image:hover i {
  z-index: 1;

  cursor: pointer;

  opacity: 1;
  transition: all 0.5s;
}

.edit-image .propic {
  opacity: 1;
  transition: all 0.5s;
}

.edit-image:hover .propic {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
