.row {
    margin-right: 0px;
    margin-left: 0px;
}

.mb-5 {
  margin-bottom:5px;
}

.mt-5 {
  margin-top:5px;
}

.ml-5 {
  margin-left:5px;
}

.m-0 {
	margin:0px;
}
.mr-5 {
  margin-right:5px;
}

.mt-0 {
	margin-top:0px;
}
.mr-0 {
	margin-right:0px;
}
.mb-0 {
	margin-bottom:0px;
}

.ml-0 {
	margin-left:0px;
}

.pl-5 {
  padding-left:5px;
}

.pr-5 {
  padding-right:5px;
}

.pl-0 {
  padding-left:0px;
}

.pr-0 {
  padding-right:0px;
}

.pl-8 {
  padding-left:8px;
}

.pr-8 {
  padding-right:8px;
}



.buttons-size {
	width:150px;
	height:50px;
}

.buttons-size-2 {
	width:150px;
	height:35px;
}
.contained-box {
	background-color:#222;
	width: 400px;
	height:200px;
	float:right;
	margin-right:18px;
	margin-top: 18px;
	opacity: 0.9;
	color: white;
	padding:0px 10px 10px 10px;
}

.container-box {
    background-image: url("../images/food3.jpg");
    width: 100%;
    background-size: cover;
    height: 450px;
    box-sizing: border-box;
}

.cartImages {
	width:200px;
	height:150px;
	float:left;
	margin-right: 15px;
}

.list-group-item {
	float:left;
	width:100%;
}

.navbar-brand{
	font-size: 200%;
}

.homeModifier{
	margin-top: 50px;
}

.showcaseModifier{
	margin-top: 50px;
}

.profileModifier{
	margin-top: 50px;
}

.sellerModifier{
	margin-top: 50px;
}

.titleSeller{
	font-size: 200%;
}

.sellerCarousel{
	  display: block;
      overflow: visible;
      width: 100%;
      height: auto;
      margin-right: auto;
      margin-bottom: 12px;
      margin-left: auto;
      float: none;
}


/* Height for the seller page */
.row.content.seller {
  height: 500px;
}   

/* Height for the profile page */
.row.content.user {
  height: 500px;
}


/* Set gray background color and 100% height */
.sidenav.user {
  background-color: #f1f1f1;
  height: 700px;
}

.sidenav.seller {
  background-color: #f1f1f1;
  height: 600px;
}

.btn.btn-default.join{
  margin-right: 15px;
}

/*Login Page */
.container.Login{
  margin-top: 100px;
}

.btn.btn-default.submit{
  margin-top: 20px;
}

.container.Register{
  margin-top: 100px;
}

.input-group-addon{
  width: 145px;
}

.form-control.register{
  width: 300px;
}

.input-group.register{
  margin-left: 45px;
}


    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
