
<div class="container pl-0 pr-0">
	
	<div class="container-box row ">
		<!-- <img class="img-responsive col-md-12 pl-0 pr-0" src="food3.jpg" alt="Chania"/> -->
		 <div class="contained-box img-rounded" >
			<h3 class="text-center">Discover Our Tours and Products</h1>
			<h4 class="text-center">We offer the best of our traditions and of our culture.
			   Come and taste our typical dishes and visit the most beatiful places here.</h4>
			<div class="text-center">
				<button type="button" class="btn btn-success btn-lg pl-8 pr-8 buttons-size" style="margin-right:15px;">Tours</button>
				<button type="button" class="btn btn-danger btn-lg  pl-8 pr-8 buttons-size">Products</button>
			</div>
		 </div>
	</div>
	
	<div class="row mt-5">
		<div class="col-md-3 pl-0">
			<div class="thumbnail">
				<img src="offer1.jpg" style="width:100%"alt="sea">
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="offer3.jpg" style="width:100%"alt="sea">
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="offer2.jpg" style="width:100%"alt="sea">
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="offer4.jpg" style="width:100%;"alt="sea">
				<div class="caption">
					<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
			</div>
		</div>
		
	</div>
</div>
