<div class="container-fluid contact">

  <br><br>
  <br><br>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <div class="info">
        <br>
        <h2 class="text-center text-warning">Contact</h2>
        <br>

        <h2 class="inline middle text-primary">&nbsp;&nbsp; <span class="glyphicon glyphicon-envelope"></span></h2>
        <h3 class="inline text-success">&nbsp; info@cataniadiscovery.com</h3>

        <br><br>

        <h2 class="inline middle text-primary">&nbsp;&nbsp; <span class="glyphicon glyphicon-map-marker"></span></h2>
        <h3 class="inline text-success">&nbsp; Via Umberto 40</h3>

        <br><br>

        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.8626040329004!2d15.084969655993625!3d37.51115857690993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1313fcd33c5d6767%3A0x69318f2fe6149780!2sVia+Umberto+I%2C+40%2C+95129+Catania+CT!5e0!3m2!1sen!2sit!4v1496854070830" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <br><br>
      </div>

    </div>
  </div>

<br><br>

</div>
