<div class="container-fluid">

  <br><br>

  <div class="row">

    <div class="col-sm-4 col-sm-offset-4">
      <div class="user">
        <h2 class="text-center text-primary boxed">{{ userDetails.nickname }}</h2>

        <div class="text-center boxed edit-image text-center" OnClick="document.getElementById('file').click()">
          <i class="glyphicon glyphicon-camera"></i>
          <img src="images/propic/default.jpg" class="center propic img-responsive" ngf-src="f == null ? 'images/propic/default.jpg' : f">
        </div>

        <br>

        <button type="file" ngf-select="setFile($file, $invalidFiles)" accept=".png, .bmp, .jpeg, .jpg" id="file" style="display: none">
          Select File
        </button>

        <div class="text-center">
          <button class="btn btn-md btn-success" ng-show="f.name != null && f.name != ''" ng-click="uploadFile(f, errFile)">
            <h4>
              <i class="glyphicon glyphicon-save-file"></i>
              Save image
            </h4>
          </button>
        </div>

        <br>

        <form class="form-horizontal boxed" ng-submit="saveDetails()">
         <div class="form-group">
           <label class="control-label col-sm-2 text-info" for="name">Name:</label>
           <div class="col-sm-10">
             <input type="text" class="form-control" id="name" ng-model="userDetails.name">
           </div>
         </div>
         <div class="form-group">
           <label class="control-label col-sm-2 text-info" for="surname">Surname:</label>
           <div class="col-sm-10">
             <input type="text" class="form-control" id="surname" ng-model="userDetails.surname">
           </div>
         </div>
         <div class="form-group">
           <label class="control-label col-sm-2 text-info" style="font-size: 20px" for="email">
             <i class="glyphicon glyphicon-envelope"></i>
           </label>
           <div class="col-sm-10">
             <input type="text" class="form-control" ng-value="userDetails.email" disabled="disabled">
           </div>
         </div>
         <div class="form-group">
           <label class="control-label col-sm-2 text-info" style="font-size: 20px" for="phone">
             <i class="glyphicon glyphicon-earphone text-info"></i>
           </label>
           <div class="col-sm-10">
             <input type="text" id="phone" class="form-control" ng-model="userDetails.phone">
           </div>
         </div>
         <hr>
         <div class="form-group">
           <label class="control-label col-sm-2 text-info" for="mobile">
             Description:
           </label>
           <div class="col-sm-10">
             <textarea id="mobile" class="form-control" ng-model="userDetails.description"></textarea>
           </div>
         </div>
         <div class="text-center">
           <button type="submit" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
         </div>
       </form>

        <br>
      </div>

    </div>

  </div>
</div>
