<div class="container-fluid">
  <br>
  <br>
  <br>

  <div class="row">

    <div class="col-sm-3 col-sm-offset-1">
      <div class="user">
        <h2 class="text-center text-primary boxed">{{ userDetails.nickname }}</h2>

        <div class="text-center boxed">
          <img ng-src="{{ (userDetails.propic != null && userDetails.propic != '') ? userDetails.propic : 'images/propic/default.jpg' }}" class="center img-responsive propic">
        </div>

        <br>

        <ul class="nav nav-pills nav-stacked boxed">
          <li>
            <h3>
              <span class="text-primary">Name:</span> <span class="text-info">{{ userDetails.name }}</span>
            </h3>
          </li>
          <li>
            <h3>
              <span class="text-primary">Surname:</span> <span class="text-info">{{ userDetails.surname }}</span>
            </h3>
          </li>
          <li>
            <h3>
              <i class="glyphicon glyphicon-envelope text-primary"></i>
              <span class="text-info" style="font-size: 14px">&nbsp; {{ userDetails.email }}</span>
            </h3>
          </li>
          <li>
            <h3>
              <i class="glyphicon glyphicon-earphone text-primary"></i>
              <span class="text-info">&nbsp; {{ userDetails.phone }}</span>
            </h3>
          </li>
        </ul>

        <br>
      </div>

      <br>

    </div>

    <div class="col-sm-7">
      <h1 class="">My Bio</h1>
      <hr>
      <h5><span class="label label-warning">{{ userDetails.seller ? "Seller" : "Tourist" }}</span> <span class="label label-success">biography</span></h5><br>
      <p>{{ userDetails.description }}</p>
      <hr>
    </div>
  </div>
</div>
</div>
