<div class="container Register">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center"> Please complete all the fields </div>
            </div>
            <div class="panel-body" >
                <form class="form-horizontal" ng-submit="registerUser()">
                    <div class="input-group register">
                        <span class="input-group-addon register">Name</span>
                        <input type="text" class="form-control register" ng-model="name" placeholder="First Name" required>
                    </div>
                    <br>
                    <div class="input-group register">
                        <span class="input-group-addon register">Surname</span>
                        <input type="text" class="form-control register" ng-model="surname" placeholder="Last Name" required>
                    </div>
                    <br>
                    <div class="input-group register">
                      <span class="input-group-addon register text-center">E-mail</span>
                      <input type="email" class="form-control register" ng-model="email" placeholder="example@gmail.com" required>
                    </div>
                    <br>
                    <div class="input-group register">
                        <span class="input-group-addon register text-center">Phone Number</span>
                        <input type="tel" class="form-control register" ng-model="mobile" placeholder="+39 123 456789">
                    </div>
                    <br>
                    <div class="input-group register">
                      <span class="input-group-addon register text-center">Birth</span>
                      <input type="text" class="form-control register" ng-model="birth">
                    </div>
                    <hr>
                    <div class="input-group register">
                      <span class="input-group-addon register text-center">Username</span>
                      <input type="text" class="form-control register" ng-model="nickname" placeholder="Username" required>
                    </div>
                    <br>
                    <div class="input-group register">
                      <span class="input-group-addon register text-center"> Password </span>
                      <input type="password" class="form-control register" ng-model="password" placeholder="Password" required>
                    </div>
                    <hr>
                    <div class="row text-center">
                      <button type="button" class="btn btn-warning no-selected {{ seller ? '' : 'selected' }}" ng-value="false" ng-model="seller" uib-btn-checkbox>
                          Tourist
                      </button>
                      <button type="button" class="btn btn-warning no-selected {{ !seller ? '' : 'selected' }}" ng-value="true" ng-model="seller" uib-btn-checkbox>
                          Seller
                      </button>
                    </div>
                    <hr>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-lg submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
