<div class="container pl-0 pr-0">
	<br><br><br>
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="offer in offers" ng-show="offer.quantity > 0">
      <div class="img-container">
        <span class="helper-center"></span>
	      <img class="cartImages img-responsive" ng-src="images/offers/{{ (offer.img_path != null && offer.img_path != '') ? offer.img_path : 'default-offer.png' }}">
      </div>
			<h3 class="text-primary">{{ offer.title }}</h3>
			<p><b class="text-info">Offered By:</b> <a ng-href="#!/profile/{{ offer.user }}">{{ offer.user }}</a></p>
			<p><b class="text-info">Available:</b> <span class="text-success">{{ offer.quantity }}</span></p>
			<p><b class="text-info">Price:</b> <span class="text-danger">{{ offer.price }} €</span></p>
			<p><b class="text-info">Description:</b> <span class="text-success">{{ offer.description }}</span></p>
			<button type="button" class="btn btn-primary btn-md buttons-size-2">Explore in Detail</button>
			<button type="button" class="btn btn-danger btn-md buttons-size-2" >Buy</button>
			<button type="button" class="btn btn-success btn-md buttons-size-2">Contact The Vendor</button>
	  </li>
	</ul>
</div>
