<div class="container pl-0 pr-0">
	<br><br><br>
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="offer in offers">
				<img class="cartImages img-thumbnail img-responsive" ng-src="images/offers/{{ (offer.img_path != null && offer.img_path != '') ? offer.img_path : 'default-offer.png' }}">
				<h3 class="text-primary">{{ offer.title }}</h3>
				<p><b class="text-info">Offered By:</b> <a ng-href="#!/profile/{{ offer.user }}">{{ offer.user }}</a></p>
				<p><b class="text-info">Description:</b> {{ offer.description }}</p>
			<button type="button" class="btn btn-primary btn-md buttons-size-2">Explore in Detail</button>
			<button type="button" class="btn btn-danger btn-md buttons-size-2" >Buy</button>
			<button type="button" class="btn btn-success btn-md buttons-size-2">Contact The Vendor</button>
		  </li>
		</ul>
</div>
